.menu li:hover > a {
  color: #4285f4 !important;
}
.menu li > a:after {
  content: '';
  font-size: 2rem;
  font-family: fevericon !important;
  display: block;
  /* margin-left: 0.5rem; */
  line-height: 1rem;
  width: 1rem;
  height: 1rem;
}
.menu .dropdown > a:after {
  content: '\e95c';
}
.dropdown-content li:hover {
  background-color: #4285f4 !important;
}
.dropdown-content li:hover > a {
  color: #fff !important;
}

@media (min-width: 768px) {
  .menu .dropdown:hover > a:after {
    content: '\ea14';
  }
  .menu .dropdown:hover .dropdown-content {
    display: block !important;
  }
  .menu-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .logo {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  .menu-mobile {
    display: block !important;
    padding: 64px 0 0 !important;
    z-index: 9 !important;
  }
  .menu {
    display: none !important;
    flex-direction: column !important;
    align-items: center !important;
    position: absolute !important;
    top: 0 !important;
    right: -100vw !important;
    background-color: #fff !important;
    width: 100% !important;
    height: calc(100vh - 80px) !important;
    text-align: right !important;
    z-index: 9 !important;
    transition: right 0.3s ease-in-out !important;
  }
  .menu li {
    width: 100% !important;
  }
  .menu.open {
    display: flex !important;
    right: 0 !important;
  }
  .menu .dropdown .dropdown-content {
    position: relative !important;
    box-shadow: none !important;
  }
  .menu.open .dropdown-content.expanded {
    display: block !important;
  }
  .menu li {
    box-sizing: border-box;
    margin: 0.5rem 0 !important;
    padding: 0 1rem !important;
  }
  .menu .dropdown.active {
    color: #4285f4 !important;
  }
  .menu .dropdown.active > a {
    color: #4285f4 !important;
  }
  .menu-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .menu-close-icon {
    display: block !important;
    margin-left: auto !important;
  }
}
